html {
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.u-body {
    font-size: 1rem;
    line-height: 1.6;

    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    height: auto;
    min-height: 100%;
    position: relative;
    font-family: 'Open Sans',sans-serif;
    color: #111111;
    background-color: #ffffff;
}

.u-body h1,
.u-body h6 {
    padding: 0;
}
h1,
h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: inherit;
}
h1 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.125rem;
}

p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}

.u-clearfix:after,
.u-clearfix:before {
    content: '';
    display: table;
}
.u-clearfix:after {
    clear: both;
}

body, section, header, footer {
    position: relative;
}

footer, header, nav, section{
    display: block;
}

.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}

.u-sheet {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

section > *, header > *, footer > *, .u-sheet > * {
    position: relative;
}

.u-responsive-xl .u-menu, .u-responsive-lg .u-menu, .u-responsive-md .u-menu, .u-responsive-sm .u-menu, .u-responsive-xs .u-menu {
    opacity: 1;
}

.u-menu, .u-popupmenu-items {
    display: table;
    white-space: nowrap;
    position: relative;
    line-height: 1;
}

.u-menu {
    opacity: 0;
}

.u-valign-middle > *, .u-valign-top > *, .u-valign-bottom > * {
    flex-shrink: 0;
}

section > *, header > *, footer > *, .u-sheet > * {
    position: relative;
}

.menu-collapse {
    display: none;
    border: none;
    z-index: 1;
}

.u-nav-item a.u-nav-link, .menu-collapse a.u-nav-link {
    color: inherit;
}

.menu-collapse .u-nav-link {
    text-decoration: none !important;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: calc(1em + 8px);
}

.u-nav-link, .u-nav-link:hover, .u-nav-link:focus {
    text-decoration: none;
}

.u-nav-link {
    display: block;
    white-space: nowrap;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    -webkit-text-decoration-skip: objects;
}

.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a, .u-gradient > .u-container-layout > a, .u-image:not(.u-shading) > .u-container-layout > a, a {
    color: #f4cab6;
}

a {
    color: #259bca;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.u-link, a {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

section.u-image, .u-sheet.u-image, .u-group.u-image, .u-layout-cell.u-image {
    overflow: visible;
}

.u-section-2 {
    background-image: url('static/background.jpeg');
    background-position: 50% 50%;
    min-height: 542px;
}

.u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
    color: #111111;
}

.u-align-left {
    text-align: left;
}

.u-image, .u-background-effect-image, .u-video-poster {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 0 0 0 auto;
}

section > *, header > *, footer > *, .u-sheet > * {
    position: relative;
}

.u-layout-row {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 100%;
}

.u-layout-col, .u-layout-row {
    flex: 1 1 100%;
}

.u-layout-col, .u-layout-row, .u-layout-col > * {
    display: flex;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 698px;
}

.u-layout-row > .u-size-32 {
    flex: 0 0 53.33333333%;
    max-width: 53.33333333%;
}

.u-layout-cell, .u-container-style.u-opacity, .u-group.u-opacity {
    background-color: transparent !important;
    opacity: 1;
}

.u-align-left {
    text-align: left;
}

.u-layout-cell {
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}

.u-layout-row > * {
    max-height: 100%;
    min-height: -webkit-fit-content;
    min-height: fit-content;
}

.u-section-2 .u-image-1 {
    min-height: 698px;
    background-image: url('static/cat.jpeg');
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-text-1 {
    font-size: 5.375rem;
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 700;
    font-family: "Archivo Narrow";
    margin: 0;
}

.u-section-2 .u-text-2 {
    font-size: 1.875rem;
    line-height: 1.4;
    letter-spacing: normal;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    margin: 0;
}

.u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin: 30px auto 0 0;
}

.u-section-2 .u-text-4 {
    margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px auto 0 0;
    padding: 10px 52px 10px 51px;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px 0 30px 40px;
}

.u-valign-bottom {
    justify-content: flex-end;
}

.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.u-button-style.u-palette-4-base, .u-button-style.u-palette-4-base[class*="u-border-"] {
    color: #111111 !important;
    background-color: #7dcaec !important;
}

.u-button-style[class*="u-custom-color-"], .u-button-style[class*="u-palette-"], .u-button-style[class*="u-gray-"], .u-button-style.u-white, .u-button-style.u-black {
    border-width: 0;
}

p:not(.u-text-variant) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.u-valign-middle {
    justify-content: center;
}

.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}

.u-layout-row > .u-size-28 {
    flex: 0 0 46.66666667%;
    max-width: 46.66666667%;
}

section.u-image, .u-sheet.u-image, .u-group.u-image, .u-layout-cell.u-image {
    overflow: visible;
}

.u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
    color: #111111;
}

.u-layout-cell, .u-container-style.u-opacity, .u-group.u-opacity {
    background-color: transparent !important;
    opacity: 1;
}

.u-align-left {
    text-align: left;
}

.u-layout-cell {
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}

.u-font-oswald.u-custom-font {
    font-family: Oswald, sans-serif !important;
}

.u-palette-4-base, .u-body.u-palette-4-base, .u-container-style.u-palette-4-base:before, .u-table-alt-palette-4-base tr:nth-child(even) {
    color: #111111;
    background-color: #7dcaec;
}

.u-radius-0, .u-radius-0:before, .u-radius-0 .u-background-effect, .u-radius-0 > .u-container-layout {
    border-radius: 0px !important;
}

.u-valign-middle > *, .u-valign-top > *, .u-valign-bottom > * {
    flex-shrink: 0;
}

h1:not(.u-title) {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.u-body h1, u.body h5 {
    padding: 0;
}

.u-text-palette-5-dark-3 {
    color: #292d33 !important;
}

.u-text {
    word-wrap: break-word;
    position: relative;
}

.u-valign-middle > *, .u-valign-top > *, .u-valign-bottom > * {
    flex-shrink: 0;
}

b, strong {
    font-weight: bold;
}

.u-btn {
    /* display: inline-block; */
    display: table;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    -webkit-text-decoration-skip: objects;
    font-style: initial;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
}

.u-grey-80, .u-body.u-grey-80, .u-container-style.u-grey-80:before, .u-table-alt-grey-80 tr:nth-child(even) {
    color: #ffffff;
    background-color: #333333;
}

.u-align-center {
    text-align: center;
}

p.u-small-text {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .u-header {
        background-image: none;
    }

    .u-header .u-sheet-1 {
        min-height: 80px;
    }
    .u-sheet {
        width: 1140px;
    }

    .u-header .u-menu-1 {
        margin: -32px 0 22px auto;
    }

    .u-footer {
        background-image: none;
    }

    .u-footer .u-sheet-1 {
        min-height: 120px;
    }

    .u-footer .u-text-1 {
        width: 417px;
        margin: 49px auto;
    }
}

@media (max-width: 575px) {
    .u-header {
        background-image: none;
    }
    .u-header .u-sheet-1 {
        min-height: 80px;
    }
    .u-sheet {
        width: 340px;
    }
    .u-header .u-menu-1 {
        width: auto;
        margin: -32px 0 22px auto;
    }
    .u-section-2 {
        min-height: 209px;
    }
    .u-section-2 .u-layout-wrap-1 {
        width: calc(((100% - 340px) / 2) + 340px);
    }
    .u-section-2 .u-container-layout-1 {
        padding-top: 30px;
    }
    .u-section-2 .u-text-1 {
        font-size: 4.5rem;
    }
    h1:not(.u-title) {
        font-size: 2.25rem;
    }
    .u-section-2 .u-image-1 {
        min-height: 368px;
    }
    .u-footer {
        background-image: none;
    }
    .u-footer .u-sheet-1 {
        min-height: 36px;
    }
    .u-footer .u-text-1 {
        width: 340px;
        margin: 49px auto;
    }
}
@media (max-width: 767px) {
    .u-section-2 {
        min-height: 492px;
    }
    .u-section-2 .u-layout-wrap-1 {
        width: calc(((100% - 540px) / 2) + 540px);
    }
    .u-layout-wrap .u-layout .u-layout-cell {
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .u-section-2 .u-container-layout-1 {
        padding-top: 50px;
        padding-right: 50px;
        padding-left: 10px;
    }
    .u-section-2 .u-text-1 {
        font-size: 5.375rem;
    }
    .u-layout-wrap .u-layout .u-layout-cell {
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .u-section-2 .u-image-1 {
        min-height: 709px;
    }
    .u-layout-row > * {
        min-width: 100%;
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
    }
}
@media (max-width: 991px) {
    .u-section-2 {
        min-height: 207px;
    }
    .u-section-2 .u-layout-wrap-1 {
        width: calc(((100% - 720px) / 2) + 720px);
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-2 .u-text-1 {
        font-size: 3.75rem;
    }
    .u-section-2 .u-image-1 {
        min-height: 441px;
    }
    .u-section-2 .u-container-layout-2 {
        padding-right: 0;
        padding-left: 30px;
    }
}
@media (max-width: 1199px) {
    .u-section-2 {
        min-height: 347px;
    }
    .u-section-2 .u-layout-wrap-1 {
        width: calc(((100% - 940px) / 2) + 940px);
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 576px;
    }
    .u-section-2 .u-text-2 {
        font-size: 1.5rem;
    }
    .u-section-2 .u-image-1 {
        min-height: 576px;
    }
}