<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Cat Care">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Dogs VS Cats</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/dropzone.min.css')}}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css')}}" media="screen">
  <script
          src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"></script>
  <script src="{{ url_for('static', path='/dropzone.min.js') }}"></script>
  <script src="{{ url_for('static', path='/app.js') }}"></script>
  <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

  <meta property="og:title" content="Dogs vs Cats">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#f4cab6">
</head>
<body class="u-body">
<header class="u-clearfix u-header">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"></div>
</header>

<section class="u-align-left u-clearfix u-image u-valign-middle-sm u-valign-middle-xs u-section-2 cat-bg" id="left-section">
  <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-gutter-0 u-layout">
      <div class="u-layout-row">
        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-32 u-layout-cell-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h1 class="u-custom-font u-text u-text-palette-5-dark-3 u-text-1">Dogs VS Cats</h1>
            <h5 class="u-custom-font u-font-oswald u-text u-text-2">Classification demo</h5>
            <p class="u-text u-text-default u-text-3">You can upload your photo of a dog or a cat to see the result of classification. </p>
            <p class="u-text u-text-black u-text-default u-text-4">Upload&nbsp;<b>
              <a href="#upload-btn"
                 class="u-active-none u-border-1 u-border-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">below</a></b>
            </p>
            <div>
              <form class="dropzone" id="dropzone">
                <div class="dz-message needsclick">
                  <img src="{{ url_for('static', path='/upload.png') }}" width="50vw" height="50vw"><br>
                  <span class="note needsclick">Drop files here or click to upload</span>
                </div>
              </form>
            </div>
            <a href="#" id="classify-btn"
               class="u-active-white u-btn u-btn-rectangle u-button-style u-custom-font u-font-oswald u-hover-white u-palette-4-base u-radius-0 u-btn-2">Classify</a>

            <div class="error" id="classification-error" >
              <p>Can't classify image. Classifier was not able to detect cat or dog properly</p>
            </div>
            <div id="classification-results"></div>
          </div>
        </div>
        <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-28 u-image-2">
          <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer">
  <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">This demo was created for education purposes only.</p>
  </div>
</footer>
</body>
</html>